In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('df_final_telegram.csv')

In [ ]:
df

,Unnamed: 0,index,Points,Univer_code,specialization_name,Status,суммабалловсертификата,преимущественноеправо,среднийбаллаттестата(диплома),суммабалловпрофильныхпредметов(творческихэкзаменов),2020-2021_Max,2020-2021_Min,2021-2022_Max,2021-2022_Min,difference_Max,difference_Min,profile subject_1,profile subject_2,Count_difference_per_year
0,0,1,137,13,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
1,1,2,134,302,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
2,2,3,127,13,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
3,3,4,125,25,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
4,4,5,124,302,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,27663,315,97,13,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27664,27664,316,97,32,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27665,27665,317,97,42,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27666,27666,318,97,27,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27667,27667,319,97,19,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0

In [ ]:
df1 = pd.read_csv('df_final_encoded.csv')
df1

,Unnamed: 0,index,Points,Univer_code,specialization_name,Status,суммабалловсертификата,преимущественноеправо,среднийбаллаттестата(диплома),суммабалловпрофильныхпредметов(творческихэкзаменов),2020-2021_Max,2020-2021_Min,2021-2022_Max,2021-2022_Min,difference_Max,difference_Min,profile subject_1,profile subject_2,Count_difference_per_year
0,0,1,137,13,0,0,89,3,4.571,46,131,97,138,97,7,0,0,2,70
1,1,2,134,302,0,0,89,3,4.571,46,131,97,138,97,7,0,0,2,70
2,2,3,127,13,0,0,89,3,4.571,46,131,97,138,97,7,0,0,2,70
3,3,4,125,25,0,0,89,3,4.571,46,131,97,138,97,7,0,0,2,70
4,4,5,124,302,0,0,89,3,4.571,46,131,97,138,97,7,0,0,2,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,27663,315,97,13,51,1,97,2,3.643,57,96,80,109,103,13,23,5,2,-52
27664,27664,316,97,32,51,1,97,2,3.643,57,96,80,109,103,13,23,5,2,-52
27665,27665,317,97,42,51,1,97,2,3.643,57,96,80,109,103,13,23,5,2,-52
27666,27666,318,97,27,51,1,97,2,3.643,57,96,80,109,103,13,23,5,2,-52
27667,27667,319,97,19,51,1,97,2,3.643,57,96,80,109,103,13,23,5,2,-52

In [ ]:
len(df1['Points'])-len(df1['Points'].drop_duplicates())

27577

In [ ]:
df1['specialization_name'].value_counts()

31    3885
32    2641
36    2166
40    1366
39    1301
37    1194
29    1153
30    1013
33     973
45     968
41     909
26     811
28     770
38     762
27     634
47     539
3      381
42     350
48     350
2      349
22     348
49     319
51     319
43     316
18     275
5      250
7      245
10     235
4      229
1      224
11     201
50     180
53     170
20     167
6      143
8      143
15     140
0      137
34     122
16     110
44     110
9      105
13      99
35      86
23      85
25      85
17      80
52      75
14      44
19      30
12      28
24      25
21      20
46       8
Name: specialization_name, dtype: int64

In [ ]:
c=0
for i in df.count():
    print(c)
    c+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
new_df = pd.DataFrame()
new_df = pd.DataFrame(df,columns=['Name','Age'])

In [ ]:
new_df

       Name  Age
0       NaN  NaN
1       NaN  NaN
2       NaN  NaN
3       NaN  NaN
4       NaN  NaN
...     ...  ...
27663   NaN  NaN
27664   NaN  NaN
27665   NaN  NaN
27666   NaN  NaN
27667   NaN  NaN

[27668 rows x 2 columns]

In [ ]:
c=0
for i in df.count():
    print()
    c+=1

In [ ]:
df

,Unnamed: 0,index,Points,Univer_code,specialization_name,Status,суммабалловсертификата,преимущественноеправо,среднийбаллаттестата(диплома),суммабалловпрофильныхпредметов(творческихэкзаменов),2020-2021_Max,2020-2021_Min,2021-2022_Max,2021-2022_Min,difference_Max,difference_Min,profile subject_1,profile subject_2,Count_difference_per_year
0,0,1,137,13,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
1,1,2,134,302,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
2,2,3,127,13,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
3,3,4,125,25,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
4,4,5,124,302,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,27663,315,97,13,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27664,27664,316,97,32,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27665,27665,317,97,42,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27666,27666,318,97,27,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0
27667,27667,319,97,19,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0

In [ ]:
Points	Univer_code	specialization_name	Status	суммабалловсертификата	преимущественноеправо	среднийбаллаттестата(диплома)	суммабалловпрофильныхпредметов(творческихэкзаменов)	2020-2021_Max	2020-2021_Min	2021-2022_Max	2021-2022_Min	difference_Max	difference_Min	profile subject_1	profile subject_2	Count_difference_per_year