In [ ]:
import pandas as pd #для работы с датасетами
import numpy as np #для работы с числами
from sklearn import preprocessing #для исполь. label encoder, который преобразует текст в числа, чтоб моделька легче училась и могла принимать эти данные, в идеале было бы лучше использовать onehot encoder, но потом я не разберусь что где, мб запутаюсь

In [ ]:
df = pd.read_csv('df_final_telegram.csv') # считываем файл и сохраняем его в переменную df
df['profile_subjects'] = df['profile subject_1']+df['profile subject_2'] #соеденнил 2 колонны с профильными предметами, дабы проблем никаких не возникло при генерации и обучении

In [ ]:
df

,Unnamed: 0,index,Points,Univer_code,specialization_name,Status,суммабалловсертификата,преимущественноеправо,среднийбаллаттестата(диплома),суммабалловпрофильныхпредметов(творческихэкзаменов),2020-2021_Max,2020-2021_Min,2021-2022_Max,2021-2022_Min,difference_Max,difference_Min,profile subject_1,profile subject_2,Count_difference_per_year,profile_subjects
0,0,1,137,13,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0,БиологияГеография
1,1,2,134,302,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0,БиологияГеография
2,2,3,127,13,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0,БиологияГеография
3,3,4,125,25,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0,БиологияГеография
4,4,5,124,302,B001 - Педагогика и психология,City,89,непс,4.571,46,131.0,97.0,138.0,97.0,7.0,0.0,Биология,География,70.0,БиологияГеография
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,27663,315,97,13,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0,МатематикаГеография
27664,27664,316,97,32,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0,МатематикаГеография
27665,27665,317,97,42,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0,МатематикаГеография
27666,27666,318,97,27,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0,МатематикаГеография
27667,27667,319,97,19,B095 - Транспортные услуги,Village,97,мнс,3.643,57,96.0,80.0,109.0,103.0,13.0,23.0,Математика,География,-52.0,МатематикаГеография

##Создание фэйковых данных на основе рандома и логики

In [ ]:
df.drop(columns=['Unnamed: 0', 'index','Univer_code', 'profile subject_1', 'profile subject_2', '2020-2021_Max', '2020-2021_Min', '2021-2022_Max', '2021-2022_Min', 'difference_Max', 'difference_Min', 'Count_difference_per_year'], inplace=True)
# df_decoded = df.copy()
#убрал столбцы, которые я посчитал ненужными, возможно верну некоторые в будущем

In [ ]:
le = preprocessing.LabelEncoder() #тот самый label encoder
df['specialization_name_encoded']=le.fit_transform(df['specialization_name']) #создается новый столбец уже преобразованный в числа от основного столбца
df.drop(['specialization_name'], axis=1, inplace=True) #дропнул основной текстовой столбец
df['Status_encoded']=le.fit_transform(df['Status'])             # дальше то же самое с несколькими столбцами, так как они текстовые или категоричные
df.drop(['Status'], axis=1, inplace=True)                       # позже уберу лэйбл енкодер с некоторых столбцов, таких как суммабалловаттестата и средний бал аттестата
df['преимущественноеправо_encoded']=le.fit_transform(df['преимущественноеправо'])
df.drop(['преимущественноеправо'], axis=1, inplace=True)
df['среднийбаллаттестата(диплома)_encoded']=le.fit_transform(df['среднийбаллаттестата(диплома)'])
df.drop(['среднийбаллаттестата(диплома)'], axis=1, inplace=True)
df['суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded']=le.fit_transform(df['суммабалловпрофильныхпредметов(творческихэкзаменов)'])
df.drop(['суммабалловпрофильныхпредметов(творческихэкзаменов)'], axis=1, inplace=True)
df['profile_subjects_encoded']=le.fit_transform(df['profile_subjects'])
df.drop(['profile_subjects'], axis=1, inplace=True)

In [ ]:
df #выведен датасет в числовом формате

,Points,суммабалловсертификата,specialization_name_encoded,Status_encoded,преимущественноеправо_encoded,среднийбаллаттестата(диплома)_encoded,суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded,profile_subjects_encoded
0,137,89,0,0,3,22,22,0
1,134,89,0,0,3,22,22,0
2,127,89,0,0,3,22,22,0
3,125,89,0,0,3,22,22,0
4,124,89,0,0,3,22,22,0
...,...,...,...,...,...,...,...,...
27663,97,97,51,1,2,8,30,9
27664,97,97,51,1,2,8,30,9
27665,97,97,51,1,2,8,30,9
27666,97,97,51,1,2,8,30,9
27667,97,97,51,1,2,8,30,9

In [ ]:
def minMax(x):  #для нахождения минимума и максимума из столбца
    return pd.Series(index=['min','max'],data=[x.min(),x.max()])

In [ ]:
df_min_max = df.apply(minMax) #создаю новый датасет состоящий из минимум и максимума каждого столбца

In [ ]:
df_min_max

,Points,суммабалловсертификата,specialization_name_encoded,Status_encoded,преимущественноеправо_encoded,среднийбаллаттестата(диплома)_encoded,суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded,profile_subjects_encoded
min,50,50,0,0,0,0,0,0
max,140,124,53,1,4,31,44,14

In [ ]:
import random
data = []
for i in range(df['Points'].size):
    data.append([random.randint(df_min_max.iloc[0,0],df_min_max.iloc[1,0]), random.randint(df_min_max.iloc[0,1],df_min_max.iloc[1,1]), random.randint(df_min_max.iloc[0,2],df_min_max.iloc[1,2]), random.randint(df_min_max.iloc[0,3],df_min_max.iloc[1,3]), random.randint(df_min_max.iloc[0,4],df_min_max.iloc[1,4]), random.randint(df_min_max.iloc[0,5],df_min_max.iloc[1,5]), random.randint(df_min_max.iloc[0,6],df_min_max.iloc[1,6]), random.randint(df_min_max.iloc[0,7],df_min_max.iloc[1,7])])

df_new = pd.DataFrame(data)
#цикл, который вводит каждый раз данные в рандоме между миниимумом и максимумом от каждого столбца и записывает каждую такую row в data, дабы потом добавить его в датасет

In [ ]:
df_new

         0    1   2  3  4   5   6   7
0       68   88  12  0  3  10  31   1
1       69   72  39  0  3   1   9  10
2       77   56  45  1  0   5   1   7
3      123  105  32  0  4  22  43   0
4       87   91  46  0  3  10  31  13
...    ...  ...  .. .. ..  ..  ..  ..
27663  104  113  49  0  4  22  42   2
27664  112   59  18  0  1  26  24   0
27665   88   89  24  0  0  19  15  12
27666   67   92  36  1  3   7  28   6
27667   77  123   3  1  2   3  37   9

[27668 rows x 8 columns]

In [ ]:
df_new.nunique() #посмотреть чуть ниже, то же самое, но более понятно

0    91
1    75
2    54
3     2
4     5
5    32
6    45
7    15
dtype: int64

In [ ]:
df_new.columns = ['Points',	'суммабалловсертификата',	'specialization_name_encoded',	'Status_encoded',	'преимущественноеправо_encoded',	'среднийбаллаттестата(диплома)_encoded',	'суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded',	'profile_subjects_encoded']

In [ ]:
df_new.nunique() #количества уникальных сэмплов в новых данных

Points                                                         91
суммабалловсертификата                                         75
specialization_name_encoded                                    54
Status_encoded                                                  2
преимущественноеправо_encoded                                   5
среднийбаллаттестата(диплома)_encoded                          32
суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded    45
profile_subjects_encoded                                       15
dtype: int64

In [ ]:
df_new

,Points,суммабалловсертификата,specialization_name_encoded,Status_encoded,преимущественноеправо_encoded,среднийбаллаттестата(диплома)_encoded,суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded,profile_subjects_encoded
0,68,88,12,0,3,10,31,1
1,69,72,39,0,3,1,9,10
2,77,56,45,1,0,5,1,7
3,123,105,32,0,4,22,43,0
4,87,91,46,0,3,10,31,13
...,...,...,...,...,...,...,...,...
27663,104,113,49,0,4,22,42,2
27664,112,59,18,0,1,26,24,0
27665,88,89,24,0,0,19,15,12
27666,67,92,36,1,3,7,28,6
27667,77,123,3,1,2,3,37,9

#Для создания логики надо сделать анализ существующих данных

In [ ]:
# группировка датасета по столбцу выборки и применение методов min и max
min_max_specs = df.groupby('specialization_name_encoded').agg({'Points': ['min', 'max']})

# принт, просто принт
print(min_max_specs)

#это нужно для того, чтоб примерно знать пороговый балл грантников, по идее в таком слуачае если будет огромное количество данных, то и точный порог сможем найти

                            Points
                               min  max
specialization_name_encoded
0                               79  137
1                               75  105
2                               79  133
3                              119  125
4                               89  130
5                               78  123
6                               97  134
7                               87  138
8                               90  133
9                               98  131
10                             112  135
11                              75  133
12                             115  122
13                             118  123
14                             115  125
15                             120  125
16                              85  106
17                             111  125
18                             114  136
19                             108  120
20                             120  125
21                             104  112
22                             115  140
23                             111  136
24                             108  114
25                             115  133
26                              75  138
27                              70  130
28                              72  118
29                              61  139
30                              58  136
31                              69  140
32                              69  139
33                              50  137
34                              50  140
35                              50  138
36                              50  139
37                              55  139
38                              50  124
39                              50  113
40                              50  140
41                              69  125
42                              62  117
43                              50  134
44                              50   87
45                              50  113
46                              50   69
47                              50  121
48                              69  107
49                              99  139
50                             115  123
51                              97  125
52                             124  139
53                              50  106

In [ ]:
df_new['grant']=0 # новый столбец с нулями

In [ ]:
for i in range(df['Points'].size): #этот цикл перебирает по количеству строк в датасете, где i это индекс 
    if not df_new.iloc[i]['Points']<min_max_specs.iloc[df_new.iloc[i]['specialization_name_encoded']]['Points']['min']:  #в этом условии идет сравнение баллов абитуриуента и минимум балла от специальности данной специальности
      df_new.at[i, 'grant'] = 1 
    #если понтс не меньше чем минимум, то грант

In [ ]:
df_new['grant'].value_counts() #1 - грант, 0 - не грант

1    17865
0     9803
Name: grant, dtype: int64

In [ ]:
df_new

,Points,суммабалловсертификата,specialization_name_encoded,Status_encoded,преимущественноеправо_encoded,среднийбаллаттестата(диплома)_encoded,суммабалловпрофильныхпредметов(творческихэкзаменов)_encoded,profile_subjects_encoded,grant
0,68,88,12,0,3,10,31,1,0
1,69,72,39,0,3,1,9,10,1
2,77,56,45,1,0,5,1,7,1
3,123,105,32,0,4,22,43,0,1
4,87,91,46,0,3,10,31,13,1
...,...,...,...,...,...,...,...,...,...
27663,104,113,49,0,4,22,42,2,1
27664,112,59,18,0,1,26,24,0,0
27665,88,89,24,0,0,19,15,12,0
27666,67,92,36,1,3,7,28,6,1
27667,77,123,3,1,2,3,37,9,0

In [ ]:
min_max_specs

                            Points
                               min  max
specialization_name_encoded
0                               79  137
1                               75  105
2                               79  133
3                              119  125
4                               89  130
5                               78  123
6                               97  134
7                               87  138
8                               90  133
9                               98  131
10                             112  135
11                              75  133
12                             115  122
13                             118  123
14                             115  125
15                             120  125
16                              85  106
17                             111  125
18                             114  136
19                             108  120
20                             120  125
21                             104  112
22                             115  140
23                             111  136
24                             108  114
25                             115  133
26                              75  138
27                              70  130
28                              72  118
29                              61  139
30                              58  136
31                              69  140
32                              69  139
33                              50  137
34                              50  140
35                              50  138
36                              50  139
37                              55  139
38                              50  124
39                              50  113
40                              50  140
41                              69  125
42                              62  117
43                              50  134
44                              50   87
45                              50  113
46                              50   69
47                              50  121
48                              69  107
49                              99  139
50                             115  123
51                              97  125
52                             124  139
53                              50  106

In [ ]:
# df_new.to_csv('new data 1.csv') #сохранил данные в csv формате